.env
.python-version
.DS_Store
.idea
.gitattributes
.gitignore
.dockerignore
.git

compose.yml
Dockerfile
LICENSE
package-lock.json
package.json
Procfile
README.md
runtime.txt

env/
media/
static/










